.welcome-container {
  width: inherit;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-start {
  width: 8rem;
  height: 3rem;
  background-color: #ff0100;
  border-radius: 5%;
  border-style: none;
  cursor: pointer;
  font-weight: 600;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #950303 radial-gradient(circle, transparent 1%, #950303 1%) center/15000%;
}
.ripple:active {
  background-color: #ff0100;
  background-size: 100%;
  transition: background 0s;
}
