<div class="select__container">
  <mat-form-field appearance="fill">
    <mat-label>Current Season</mat-label>
    <mat-select [value]="defaultSeason()">
      <mat-option
        *ngFor="let season of seasons"
        [value]="season"
        (onSelectionChange)="onSeasonSelected($event, season)"
      >
        {{ season }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="body__container">
  <app-body-title [title]="'THE DRIVERS'"></app-body-title>

  <div class="drivers-container">
    <ng-container *ngIf="driversList()?.length">
      <div *ngFor="let driver of driversList()" class="driver">
        <div class="driver__position">
          <span class="driver__name"> {{ driver.code }} </span>
        </div>
        <div
          class="driver__constructor"
          [ngStyle]="{ background: driver.staticPath.color }"
        >
          <div class="driver__name">{{ driver.familyName | uppercase }}</div>
          <img
            [ngSrc]="driver.staticPath.imgPath"
            width="100"
            height="100"
            priority
          />
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="seasonSelected() as season" class="season">
    <span class="title--style title--size season--layout">{{ season }}</span>
    <span class="title--style season--size">season</span>
  </div>
</div>
