<div class="select__container">
  <mat-form-field appearance="fill">
    <mat-label>Current Season</mat-label>
    <mat-select [value]="defaultSeason()" data-testId="select">
      <mat-option
        *ngFor="let season of seasons"
        [value]="season"
        (onSelectionChange)="onSeasonSelected($event, season)"
      >
        {{ season }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="body__container">
  <app-body-title [title]="'THE TRACKS'"></app-body-title>

  <div class="race__list__container" *ngIf="raceList()?.length">
    <div class="race__container" *ngFor="let race of raceList()">
      <img
        *ngIf="race.imgPath; else noImg"
        [src]="race.imgPath"
        width="120"
        height="120"
      />
      <ng-template #noImg>
        <div class="race__container__no-img">
          <p>no img</p>
        </div>
      </ng-template>
      <p>{{ race.raceName }}</p>
      <p>{{ race.date | date }}</p>
      <button
        class="f1-btn f1-btn__small f1-btn__roboto ripple"
        (click)="openDialog(race.round, race.raceName, race.date)"
        data-testId="btn-dialog"
      >
        details
      </button>
    </div>
  </div>

  <div *ngIf="seasonSelected() as season" class="season">
    <span class="title--style title--size season--layout">{{ season }}</span>
    <span class="title--style season--size">season</span>
  </div>
</div>
