<div class="wrapper">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Current Season</mat-label>
      <mat-select>
        <mat-option *ngFor="let season of seasons" [value]="season"
        (onSelectionChange)="onSeasonSelected($event, season)">
          {{ season }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="raceList$ | async as races">
    <div class="mat-table-width">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="race-name">
          <th mat-header-cell *matHeaderCellDef> Race name </th>
          <td mat-cell *matCellDef="let race"> {{ race.raceName }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row 
            *matRowDef="let row; columns: columnsToDisplay"
            (click)="onRaceSelected(row.round)"
            [ngClass]="{'highlight': row.isClicked }"
        ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                      showFirstLastButtons
                      aria-label="select page of races">
      </mat-paginator>
    </div>
  </div>

  <div style="padding-top: 30px;" *ngIf="status2021Season$ | async as statusList">
    <p><strong>Bonus feature - season 2021</strong></p>
    <div *ngFor="let status of statusList">
      <p>How many cars had {{status.status}}: {{status.count}}</p>
    </div>
  </div>
</div>

<div *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>