<div class="title">
  <p>
    Here you will find a list of <strong>all F1 races per season.</strong> Please, use the select box bellow to search for different seasons :)
  </p>
  
  <p>By clicking in a race you can also see information of:</p>
  <ul>
    <li>Race final results</li>
    <li>Qualifying results</li>
    <li>Standing results</li>
  </ul>
</div>

<div class="list-wrapper">
  <div>
    <app-race-list></app-race-list>
  </div>
  <div>
    <app-race-details></app-race-details>
  </div>
</div>
