<div style="padding-top: 50px;" *ngIf="resultsPerRace$ | async as results">
  <app-results 
    [title]="'Race final Results'"
    [setResults]="results"
  ></app-results>
</div>

<div style="padding-top: 50px;" *ngIf="qualifyingPerRace$ | async as qualiResults">
  <app-results
    [title]="'Qualifying results'"
    [setResults]="qualiResults"
  ></app-results>
</div>

<div style="padding-top: 50px;" *ngIf="standingsPerRace$ | async as standings">
  <app-results
    [title]="'Standing results'"
    [setResults]="standings"
  ></app-results>
</div>

<div *ngIf="errorMessage$ | async as errorMessage">
  <p class="error">{{ errorMessage }}</p>
</div>
