<div style="padding-top: 50px;" *ngIf="resultsPerRace$ | async as results">
  <app-results 
    [title]="'Race final Results'"
    [results]="results"
  ></app-results>
</div>

<div style="padding-top: 50px;" *ngIf="qualifyingPerRace$ | async as qualiResults">
  <app-results
    [title]="'Qualifying results'"
    [results]="qualiResults"
  ></app-results>
</div>

<div style="padding-top: 50px;" *ngIf="standingsPerRace$ | async as standings">
  <app-results
    [title]="'Standings results'"
    [results]="standings"
  ></app-results>
</div>
