<div class="wrapper">
  <p>Here you will find a list of all F1 drivers per season. Please, use the select box bellow to search for different seasons :)</p>
  <div class="wrapper__drivers">
    <mat-form-field appearance="fill">
      <mat-label>Current Season</mat-label>
      <mat-select>
        <mat-option *ngFor="let season of seasons" [value]="season"
        (onSelectionChange)="onSeasonSelected($event, season)">
          {{ season }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
