.wrapper {
  display: flex;
  width: 100%;
  padding-top: 50px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 150px;

  &__drivers {
    padding-top: 25px;
    width: 60%;
  }
}