html, body {
  margin: 0px;
  //font-family: 'Maven Pro';
  //min-height: 100vh;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.error {
  color: red;
}

.select__container {
  display: flex;
  justify-content: center;
}

/* default values for bigger screens */
.body__container {
  display: grid;
  grid-template-columns: 25rem 1fr 25rem;
  grid-template-rows: max-content;
}

/* screen biggers than 1281px and smaller than 1560px */
@media (min-width: 1281px) and (max-width: 1560px) {
  .body__container {
    display: grid;
    grid-template-columns: 16rem 1fr 19rem;
    grid-template-rows: max-content;
  }
}

/* screen smallers than 1280px */
@media (max-width: 1280px) {
  .body__container {
    display: grid;
    grid-template-columns: 10rem 1fr 16rem;
    grid-template-rows: max-content;
  }
}


.title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: inherit;

  &--style {
    color: white;
    font-family: 'Bebas Neue';
  }

  &--size {
    font-size: 9rem;
  }

  @media (max-width: 1280px) {
    &--size {
      font-size: 7rem;
    }
  }
}

.season {
  display: flex;
  height: 8.5rem;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;

  &--layout {
    height: 5rem;
    margin-top: 3rem
  }

  &--size {
    font-size: 2rem;
  }
}

.f1-btn {
  background-color: #ff0100;
  border-radius: 5%;
  border-style: none;
  cursor: pointer;
  font-weight: 600;

  &__medium {
    width: 8rem;
    height: 3rem;
  }

  &__small {
    width: 4rem;
    height: 1.5rem;
  }

  &__roboto {
    font-family: Roboto;
  }
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #950303 radial-gradient(circle, transparent 1%, #950303 1%) center/15000%;
}
.ripple:active {
  background-color: #ff0100;
  background-size: 100%;
  transition: background 0s;
}
